{% extends "base.html" %}

{% block content5 %}
    <h2>Размещение по каютам</h2>
    {% if "инженер" in prof or "строитель" in prof %}
        <h2>Инженерные симуляторы</h2>
        <img src="{{url_for('static', filename='images/инженерный_тренажер.jpg')}}"
             alt="здесь должна была быть картинка, но не нашлась">
    {% else %}
        <h2>Научныe симуляторы</h2>
        <img src="{{url_for('static', filename='images/научный_тренажер.jpg')}}"
                     alt="здесь должна была быть картинка, но не нашлась">
    {% endif %}
{% endblock %}